.slideshow {
  position: relative;
  width: 100%;       
  max-width: 1600px; 
  margin: 20px 20px;
  text-align: center;
}

.slideshow img {
  width: 100%;          
  height: 400px;        
  object-fit: contain;  
  border-radius: 12px;  
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
}

.slideshow h2 {
  margin-top: 20px 20px;
  font-size: 1.5rem;
  color: #333;
}